{$PROXY_HOST} {

  jwt {
    path /
    allow sub {$USERNAME}
  }

  login / {
    simple {$USERNAME}={$PASSWORD}
  }

  proxy / web:5000 {
    transparent
    policy round_robin
  }

  tls {$PROXY_TLS}

}

