<!DOCTYPE html>
<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <title>Marks</title>
  <body>
    <button class="toggle-color-mode">🌕</button>
    <form class="add_bookmark">
      <input class="add_bookmark__bookmark" placeholder="bookmark" type="text">
      <input class="add_bookmark__tags" placeholder="tags" type="text">
      <input class="add_bookmark__submit" value="Add Bookmark" type="submit" />
    </form>
    <ul class="bookmark-wrapper">
    {% for bookmark in bookmarks %}
      <li class="bookmark">
        <a class="bookmark__link" href="{{ bookmark.url }}">{{ bookmark.url }}</a>
        {% for tag in bookmark.tags %}
        <a class="bookmark__tag" href="/tags/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        <nav class="bookmark__controls">
          <button>✎</button>
          <button class="delete_bookmark" data-url="{{ bookmark.url }}">╳</button>
        </nav>
      </li>
    {% endfor %}
    </ul>
    <script src="/static/main.js"></script>
  </body>
</html>
